body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #17202a;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe todo el alto de la ventana */
}

header {
    background-color: #f2ffed;
    color: black;
    padding: 1em 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav {
    background-color: #29850a;
    color: black;
    display: flex;
    justify-content: space-around;
    gap: 1.5em;
    padding: 0.5em;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #ff892f;
    transition: 0.3s;
}

footer {
    background-color: #f2ffed;
    color: black;
    text-align: center;
    padding: 1px;
    width: 100%;
    position: relative;
    bottom: 0; /* Coloca el footer al fondo de la ventana */
    left: 0; /* Asegura que se extienda desde el borde izquierdo */
    height: 50px;
}

.content {
    max-width: 1200px;
    margin: auto;
    padding: 2em;
    flex: 1; /* Esto asegura que el contenido ocupe el espacio restante */
}

h2 {
    color: black;
}

.nosotros {
    background-color: #e9f7ef;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5em;
    margin: 2em 0;
    text-align: center;
}

#about-us {
    margin-bottom: 3em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center; /* Centra horizontalmente */
    align-items: stretch; /* Centra verticalmente */
    
}

.gallery-item {
    flex: 1 1 30%;
    max-width: 30%;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    justify-content: space-between; /* Distribuye espacio equitativamente */
    align-items: center;
}

.gallery-item img {
    max-width: 100%;
    height: 100 px;
    object-fit: cover;
    margin-bottom: 1em;
    align-items: center; 
    justify-content: center;
}

#titulos {
    display: flex;
    justify-content: center ; /* Centra horizontalmente */
    align-items: center ; /* Centra verticalmente */
    height: 10vh ;
    margin: 0; /* Elimina márgenes para un centrado más preciso */
    font-size: 2rem; /* Ajusta el tamaño del texto según lo necesites */
}



#viajes #intinerario {

    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5em;
    margin: 2em 0;
}

#viajes #intinerario h2 {
    color: #343a40;
    text-align: center;
    margin-bottom: 1em;
}

#viajes #intinerario p {
    text-align: center;
    font-size: 1.1em;
    color: #555;
}

#contact-form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2em auto;
}

#contact-form h2 {
    color: #343a40;
    text-align: center;
    margin-bottom: 1em;
}

#contact-form p {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 2em;
    color: #555;
}

#contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #ff892f;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    color: #333;
    box-sizing: border-box;
}

#contact-form button {
    display: block;
    width: 100%;
    padding: 0.8em;
    background-color: #495057;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact-form button:hover {
    background-color: #6c757d;
}
#intinerario {
    display: block;
    margin: 2rem 0;
}

#intinerario h2 {
    font-size: 2rem;
    color: #333;
}

#intinerario p {
    font-size: 1.2rem;
    color: #666;
}

#intinerario table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

#intinerario table,
#intinerario th,
#intinerario td {
    border: 1px solid #ccc;
}

#intinerario th,
#intinerario td {
    padding: 0.8rem;
    text-align: left;
}

#intinerario th {
    background-color: #e4f9dd;
}

#intinerario tbody tr:hover {
    background-color: #ffcaa2;
    cursor: pointer;
}

img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
    padding: 10px;
    border: 5px solid #29850a;
    display: block;
}

.maravilla {
    background-color: #e4f9dd;
    border: 1px solid #29850a;
    border-radius: 8px;
    box-shadow: 0 4px 8px #29850a;
    padding: 1.5em;
    margin: 2em 0;
    text-align: center;
}

.maravilla h2 {
    font-size: 2rem !important;
    color: #ff892f !important;
}

#whats {
    position: fixed; /* Fija el elemento en la ventana del navegador */
    right: 0%;     /* A 10px del borde derecho */
    bottom: 40px;    /* A 10px del borde inferior */
    text-align: center; /* Centra el contenido */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
}

#whats img {
    width: 50px;  /* Ajusta el tamaño del icono */
    height: auto; /* Mantiene las proporciones */
    border: 0;
}

#whats p {
    font-size: 10px; /* Ajusta el tamaño del texto */
}
